<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>movie viewer tabbed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A70570AF1F9D673D004FB37B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A70570C51F9D673E004FB37B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A70570D01F9D673E004FB37B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
